<?xml version="1.0" encoding="UTF-8"?>
<web-app>


    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>myservlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>myservlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MoreServlet</servlet-name>
        <servlet-class>myservlet.MoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MoreServlet</servlet-name>
        <url-pattern>/MoreServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>myservlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeShareServlet</servlet-name>
        <servlet-class>myservlet.ChangeShareServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeShareServlet</servlet-name>
        <url-pattern>/ChangeShareServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>HomeworkServlet</servlet-name>
        <servlet-class>myservlet.HomeworkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeworkServlet</servlet-name>
        <url-pattern>/HomeworkServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>makeannounce</servlet-name>
        <servlet-class>myservlet.makeannounce</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>makeannounce</servlet-name>
        <url-pattern>/makeannounce</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>makework</servlet-name>
        <servlet-class>myservlet.makework</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>makework</servlet-name>
        <url-pattern>/makework  </url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>addStu_servlet</servlet-name>
        <servlet-class>myservlet.addStu_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addStu_servlet</servlet-name>
        <url-pattern>/addStu_servlet  </url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

</web-app>
