<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>myservlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>myservlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MoreServlet</servlet-name>
        <servlet-class>myservlet.MoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MoreServlet</servlet-name>
        <url-pattern>/MoreServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>myservlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeShareServlet</servlet-name>
        <servlet-class>myservlet.ChangeShareServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeShareServlet</servlet-name>
        <url-pattern>/ChangeShareServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>HomeworkServlet</servlet-name>
        <servlet-class>myservlet.HomeworkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeworkServlet</servlet-name>
        <url-pattern>/HomeworkServlet</url-pattern>
    </servlet-mapping>
	
    <servlet>
        <servlet-name>makeannounce</servlet-name>
        <servlet-class>myservlet.makeannounce</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>makeannounce</servlet-name>
        <url-pattern>/makeannounce</url-pattern>
    </servlet-mapping>
	
    <servlet>
        <servlet-name>makework</servlet-name>
        <servlet-class>myservlet.makework</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>makework</servlet-name>
        <url-pattern>/makework  </url-pattern>
    </servlet-mapping>
	
    <servlet>
        <servlet-name>addStu_servlet</servlet-name>
        <servlet-class>myservlet.addStu_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addStu_servlet</servlet-name>
        <url-pattern>/addStu_servlet  </url-pattern>
    </servlet-mapping>
	
	
	<servlet>
		<servlet-name>InfoServlet</servlet-name>
		<servlet-class>myservlet.InfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InfoServlet</servlet-name>
		<url-pattern>/info</url-pattern>
	</servlet-mapping>
	
        <servlet>
		<servlet-name>SourceServlet</servlet-name>
		<servlet-class>myservlet.SourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SourceServlet</servlet-name>
		<url-pattern>/source</url-pattern>
	</servlet-mapping>

        <servlet>
		<servlet-name>calcTime</servlet-name>
		<servlet-class>myservlet.calcTime</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>calcTime</servlet-name>
		<url-pattern>/calcTime</url-pattern>
	</servlet-mapping>

	<servlet>
        <servlet-name>write</servlet-name>
        <servlet-class>myservlet.write</servlet-class>
   	</servlet>

	<servlet-mapping>
        <servlet-name>write</servlet-name>
        <url-pattern>/write</url-pattern>
    	</servlet-mapping>

	<servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>myservlet.delete</servlet-class>
   	</servlet>

	<servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    	</servlet-mapping>


    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>

</web-app>
